<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Librería</h1>
            <h3 class="mb-5">
                <em>Registra libros</em>
            </h3> 
             <a class="btn btn-primary btn-lg" href="/signup">
                Registrarse
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>