<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <img src="/img/logo.png" class="card-img-top mx-auto m-2 center w-50 center">
          <form action="/signin" method="post" class="box">
            <div class="field">
              <label for="" class="label">User</label>
              <div class="control has-icons-left">
                <input name="username" placeholder="Username" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for=""  class="label">Password</label>
              <div class="control has-icons-left">
                <input name="password" type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button class="button is-success is-fullwidth">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>